.khung{
    width: 100%;
    height: 1500px;
    background: silver;
}
/* <!-- --------nhan--------- --> */
.khung .header{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 15px 40px;
}
.header .left img{
    width: 70px;
    height: 70px;
}
.left h3.art{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 8px;
    left: 130px;
}
.left h3.box7{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 175px;
}
.left h3.com{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 18px;
    left: 240px;
}
.left p{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 52px;
    left: 150px;
    color: #fff;
}
.header .call{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    position: absolute;
    top: 40px;
    right: 47px;
}
/* <!-- -------endnhan------- --> */
/* <!-- ----------y--------- ---> */
.khung .menu{
	display: block;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid white;
	padding-bottom:20px;
	padding-top: 21px;
}
.khung .menu a{
	text-align: center;
	margin: 0 auto;
	float: left;
	display: block;
	text-decoration: none;
	margin-left: 20px;
	color: black;
	font-size: 25px;
	padding: 10px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
}
.khung .menu a:hover{
	background:white;
}
/* <!-- --------endy-------- ---> */
/* <!-- -------truong-------- --> */
/* <!-- -----endtruong------- --> */
/* <!-- --------hien--------- --> */
/* <!-- ------endhien-------- --> */
/* <!-- -------luong--------- --> */
/* <!-- ------endluong------- --> */